* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#canvas-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.canvas {
    border: solid 1px;
    overflow: hidden;
    margin: 0 10px;
}

.block {
    width: 10px;
    height: 10px;
    float: left;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.block:hover {
    border: solid 1px rgba(0, 0, 0, 0.7);
}
